{% extends 'home/base_home.html' %}

{% block CSS %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/home/account.css?v=0.0.1"/>
{% endblock %}

{% block JS %}
    {{ block.super }}
    <script type="text/javascript" src="/static/home/account.js?v=0.0.1"></script>
{% endblock %}


{% block menu %}



    255
    533
    <div class="left-menu">
    <div class="left-menu-head relative">
        <div class="head-img"></div>
        <div class="absolute user-img">
            <img class="profile" src="/static/images/profile-img.png" width="74"height="74">
        </div>

    </div>
    <div class="left-menu-list">
        <div>
            <div class="right right-menu-item"></div>
            <div class="right"></div>
            <div class="left left-list-item"></div>

        </div>
    </div>
    </div>
{% endblock %}


{% block content %}



{% endblock %}