{% extends 'home/base_home.html' %}

{% load account_template_tags %}
{% load date_template_tags %}
{% load thumbnail %}

{% block CSS %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/home/home.css?v=0.0.6"/>
{% endblock %}

{% block JS %}
    {{ block.super }}

    <script>
        var tag_url = "{% url "tag_search" %}";
    </script>

    <script type="text/javascript" src="/static/home.js?v=0.0.4"></script>
{% endblock %}

{% block content %}

    <div class="mrg-center slider relative">
        <img src="" id="slide-image">

        <a class="absolute slider-text">
            <div class="white BYekan" id="slide-title">
            </div>
            {#            <div class="white BYekan">#}
            {#                نقش آفرینی مردمی#}
            {#            </div>#}
            <p class="white BYekan" id="slide-text">
            </p>
        </a>

        <div class="slider-images absolute">
            <div class="right right-arrow">
                <div></div>
            </div>
            <div class="right slider-image">
                {% for slide in slides %}
                    <img id="slide-image-{{ forloop.counter0 }}" class="img-slider image" src="{{ slide.slide_image }}"
                         data-title="{{ slide.title }}" data-text="{{ slide.text }}" data-link="{{ slide.link }}">
                {% endfor %}
            </div>
            <div class="left left-arrow">
                <div></div>
            </div>
        </div>
    </div>

    <div class="mrg-center services">

        {% for id, service in services %}
            <a class="right card-container no-hover-link" href="{% url 'documents_list' %}?s={{ id }}">
                <div class="right card relative" id="servic{{ id }}">
                    <div class="absolute servic front face"></div>
                    <div class="absolute back face center bbcnassim bold{% if id == 3 or id == 9 or id == 10 or id == 11 %} padded{% endif %}">

                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
    <div class="mrg-center exp">
        <div class="right exp-right">
            <a href="{% url 'experiences_list' %}">
                <h2 class="darkblue exp-right-header entezar">
                    تجربیات دانشگاه ها
                </h2>
            </a>
            {% if main_exp %}
                <a href="{% url 'experience_page' main_exp.id %}" class="right exp-right-rpart">
                    <div class="relative exp-rpart-img">
                        <img src="{% thumbnail main_exp.image 318x201 crop %}" width="318" height="201">

                        <div class="absolute logo-rpart"></div>
                    </div>
                    <h4 class="bbcnassim">
                        {{ main_exp.title }}
                    </h4>

                    <p class="bbcnassim">
                        {{ main_exp.content_brief }}
                    </p>

                    <div class="left right-part-text">
                    <span class="left darkblue min-rmargin">
                        {{ main_exp.university.title }}
                    </span>
                        <img class="left min-rmargin" src="{% thumbnail main_exp.university.image 18x18 crop %}"
                             width="18" height="18">

                    </div>
                    <div class="left right-part-text">
                    <span class="left darkblue min-rmargin">
                        {{ main_exp.date|pdate_year_month_day }}
                    </span>
                        <img class="left" src="/static/images/calu.png">
                    </div>
                </a>
            {% endif %}
            <div class="right exp-right-lpart">
                {% for exp in extra_exp %}
                    <a class="box-item" href="{% url 'experience_page' exp.id %}">
                        <div class="right">
                            <div class="relative exp-lpart-img">
                                <img src="{% thumbnail exp.image 105x71 crop %}" width="105" height="71">

                                <div class="absolute logo-lpart"></div>
                            </div>
                        </div>
                        <div class="right relative box-item-left">
                            <div>
                                <h4 class="mrg-center  min-rmargin">
                                    {{ exp.title }}
                                </h4>
                            </div>

                            <div class="absolute box-item-uni">
                            <span class="left darkblue min-rmargin">
                                {{ exp.university.title }}
                            </span>
                                <img class="left min-rmargin" src="{% thumbnail exp.university.image 18x18 crop %}"
                                     width="18" height="18">

                            </div>
                            <div class="absolute box-item-time">
                                <span class="left darkblue min-rmargin">
                                   {{ exp.date|pdate_year_month_day }}
                                </span>
                                <img class="left" src="/static/images/calu.png">
                            </div>

                        </div>

                    </a>
                {% endfor %}
            </div>

        </div>

        <div class="right exp-left relative">

            <div class="bg-darkblue exp-left-header">
                <div class="white">
                    نمایش فیلتری تجربیات
                </div>
            </div>

            <form class="exp-choose absolute" action="{% url "experiences_list" %}" method="get" target="_blank"
                  autocomplete="off">

                <select class="choose-item uni-filter" name="uni">
                    <option value="" selected>
                        دانشگاه مورد نظر را انتخاب کنید
                    </option>

                    {% for obj in uni_list %}
                        <option value="{{ obj.id }}">
                            {{ obj.title }}
                        </option>
                    {% endfor %}

                </select>

                <select class="choose-item service-filter" name="s">
                    <option value="" selected>
                        انتخاب سرویس
                    </option>
                    {% for id, service in services %}
                        <option name="service" value="{{ id }}">{{ service }}</option>
                    {% endfor %}
                </select>

                <select class="choose-item year-filter" name="y">
                    <option value="" selected>
                        تاریخ
                    </option>
                    {% for year in 20|get_years %}
                        <option name="service" value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>


                <input class="choose-item tag-filter" id="tag-search" name="tn"
                       placeholder="انتخاب برچسب مورد نظر" onfocus="this.placeholder = ''"
                       onblur="this.placeholder ='انتخاب برچسب مورد نظر'">
                <input type="hidden" name="t" id="tag-id">

                <ul id="tag-res" class="absolute">

                </ul>

            </form>

            <div class="exp-left-item">
                <div class="right tab-link left-item-menu active" data-tab="last-exp">
                    تازه ترین تجربیات
                </div>
                <div class="right tab-link left-item-menu" data-tab="fav-exp">
                    پربازدید ترین تجربیات
                </div>
                <div class="right tab-link left-item-menu" data-tab="popular-exp">
                    پرامتیاز ترین تجربیات
                </div>

            </div>

            <div class="tab active" id="last-exp">
                {% for exp in last_exp %}
                    {% include 'home/exp_home_list_item.html' with exp=exp %}
                {% endfor %}
            </div>

            <div class="tab" id="fav-exp">
                {% for exp in visited_exp %}
                    {% include 'home/exp_home_list_item.html' with exp=exp %}
                {% endfor %}
            </div>
            <div class="tab" id="popular-exp">
                {% for exp in rated_exp %}
                    {% include 'home/exp_home_list_item.html' with exp=exp %}
                {% endfor %}
            </div>
        </div>

    </div>
    <div class="mrg-center backup relative">
        <a class="absolute backup-header BTitrBd" href="{% url "package_list" %}">
            <div class="left backup-text">
                مشاهده همه ی بسته ها
            </div>
            <div class="left backup-text">
                تازه ترین بسته ها
            </div>
            <div class="left backup-text">
                پر امتیاز ترین بسته ها
            </div>
            <div class="left backup-text">
                پربازدید ترین بسته ها
            </div>
        </a>

        <div class="right exp-right">
            <a href="{% url "package_list" %}">
                <h2 class="darkred exp-right-header entezar">
                    بسته های پشتیبان
                </h2>
            </a>

            {% if main_pack %}
                <a href="{% url 'package_page' main_pack.id %}" class="right exp-right-rpart">
                    <div class="border-darkred relative exp-rpart-img">

                        <img src="


                                {% if main_pack.image %}{% thumbnail main_pack.image 318x201 crop %}{% else %}{{ main_pack.default_image }}{% endif %}"
                             width="318" height="201">

                        <div class="absolute logo-rpart logo-pack"></div>
                    </div>
                    <h4 class="bbcnassim">
                        {{ main_pack.title }}
                    </h4>

                    <p class="bbcnassim">
                        {#{{ main_pack. }}#}
                    </p>

                    {% if main_pack.document %}
                        <div class="left right-part-text">
                            <span class="left darkblue min-rmargin">
                                {{ main_pack.document.university.title }}
                            </span>
                            <img class="left min-rmargin"
                                 src="{% thumbnail main_pack.document.university.image 18x18 crop %}" width="18"
                                 height="18">
                        </div>
                    {% endif %}
                    <div class="left right-part-text">
                    <span class="left darkblue min-rmargin">
                       {{ main_pack.created_on|pdate_year_month_day }}
                    </span>
                        <img class="left" src="/static/images/calu.png">
                    </div>
                </a>
            {% endif %}
            <div class="right exp-right-lpart">
                {% for pack in extra_pack %}
                    <a class="box-item" href="{% url 'package_page' pack.id %}">
                        <div class="right">
                            <div class="border-darkred relative exp-lpart-img ">
                                <img src="


                                        {% if pack.image %}{% thumbnail pack.image 105x71 crop %}{% else %}{{ pack.default_image }}{% endif %}"
                                     width="105" height="71">

                                <div class="absolute logo-lpart logo-pack"></div>
                            </div>
                        </div>
                        <div class=" right relative box-item-left">
                            <div>
                                <h4 class="mrg-center  min-rmargin">
                                    {{ pack.title }}
                                </h4>
                            </div>

                            {% if pack.document %}
                                <div class="absolute box-item-uni">
                                    <span class="left darkblue min-rmargin">
                                        {{ pack.document.university.title }}
                                    </span>
                                    <img class="left min-rmargin"
                                         src="{% thumbnail pack.document.university.image 18x18 crop %}"
                                         width="18" height="18">
                                </div>
                            {% endif %}

                            <div class="absolute box-item-time">
                            <span class="left darkblue min-rmargin">
                                      {{ pack.created_on|pdate_year_month_day }}
                            </span>
                                <img class="left" src="/static/images/calu.png">
                            </div>

                        </div>

                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="right backup-left">

            <div class="logos">
                <a href="" class="right media">
                    <div class="item-media-img"></div>
                    <div class="item-text bbcnassim">

                        چند رسانه ای

                    </div>
                </a>
                <a href="" class="right teacher">
                    <div class="item-teacher-img"></div>
                    <div class="item-text">

                        اساتید و اشخاص

                    </div>
                </a>
                <a href="" class="right location">
                    <div class="item-location-img"></div>
                    <div class="item-text">

                        مکان یابی

                    </div>
                </a>
                <a href="" class="right lib">
                    <div class="item-lib-img"></div>
                    <div class="item-text">

                        کتاب خانه

                </div>
                </a>
                <a href="" class="right fun">
                    <div class="item-fun-img"></div>
                    <div class="item-text">

                        اردویی

                </div>
                </a>
                <a href="" class="right rule">
                    <div class="item-rule-img"></div>
                    <div class="item-text">

                        آیین نامه

                </div>
                </a>
            </div>
            {% for pack in left_pack %}
                <a class="backup-box-item" href="{% url 'package_page' pack.id %}">

                    <div class="right">
                        <div class="border-darkred relative exp-lpart-img ">
                            <img src="


                                    {% if pack.image %}{% thumbnail pack.image 105x71 crop %}{% else %}{{ pack.default_image }}{% endif %}"
                                 width="105" height="71">

                            <div class="absolute logo-lpart logo-pack"></div>
                        </div>
                    </div>

                    <div class=" right relative backup-item-left">
                        <div>
                            <h4 class="mrg-center  min-rmargin">
                                {{ pack.title }}
                            </h4>
                        </div>

                        {% if pack.document %}
                            <div class="absolute box-item-uni">
                                <span class="left darkblue min-rmargin">
                                    {{ pack.document.university.title }}
                                </span>
                                <img class="left min-rmargin"
                                     src="{% thumbnail pack.document.university.image 18x18 crop %}"
                                     width="18"
                                     height="18">
                            </div>
                        {% endif %}

                        <div class="absolute box-item-time">
                            <span class="left darkblue min-rmargin">
                                 {{ pack.created_on|pdate_year_month_day }}
                            </span>
                            <img class="left" src="/static/images/calu.png">
                        </div>

                    </div>

                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}