{% load account_template_tags date_template_tags thumbnail %}

<div class="mrg-center tv relative">

    <div class="tv-blue entezar tv-title">
        کالک TV
    </div>
    <div class="tv-main">
        <div class="relative right tv-item">
            <img src="/static/images/tv-img.jpg" width="400px" height="257px">

            <div class="absolute item-icon"></div>
        </div>
        <div class="right relative tv-item-info">
            <div class="info-title mjtunisia">
                مناظره ی فلانی و بهمانی در دانشگاه تهران و حواشی آن

            </div>
            <div class="bbcnassim info-text">
                کلیپ حواشی برنامه ی مناظره ی فلانی و بهمانی در دانشگاه تهران که به جنجال کشیده شد. کلیپ حواشی برنامه ی
                مناظره ی فلانی و بهمانی در دانشگاه تهران که به جنجال کشیده شد. کلیپ حواشی برنامه ی مناظره ی فلانی و
                بهمانی در دانشگاه تهران که به جنجال کشیده شد. کلیپ حواشی برنامه ی مناظره ی فلانی و بهمانی در دانشگاه
                تهران که به جنجال کشیده شد. کلیپ حواشی برنامه ی مناظره ی فلانی و بهمانی در دانشگاه تهران که به جنجال
                کشیده شد. کلیپ حواشی برنامه ی مناظره ی فلانی و بهمانی در دانشگاه تهران که به جنجال کشیده شد.
            </div>
            <div class=" box-litem-time absolute">
                <span class="left darkblue date-item min-rmargin">02 آبان 1394</span>
                <img class="left" src="/static/images/calu.png">
            </div>
            <div class=" box-ritem-time absolute">
                <span class="left darkblue date-item min-rmargin">دانشگاه تهران  </span>
                <img class="left" src="/static/images/uni-logo.png">
            </div>
            <div></div>
        </div>
        <div class="right tv-list">
            <div class="tv-list-item">
                <div class="relative right tv-item">
                    <img src="/static/images/tv-img.jpg" width="100px" height="75px">

                    <div class="absolute item-icon"></div>
                </div>
                <div class="info-title mjtunisia">
                    ی و بهمانی در تهران و حواشی آن

                </div>
                <div class="bbcnassim info-text">
                    کلیپ حواشی برنامه ی مناظره ی فلانی و بهمانیاشی برنامه ی

                </div>
                <div class="absolute list-items">
                    <div class=" box-litem-time left">
                        <span class="left darkblue date-item min-rmargin">02 آبان 1394</span>
                        <img class="left" src="/static/images/calu.png">
                    </div>
                    <div class=" box-ritem-time left">
                        <span class="left darkblue date-item min-rmargin">دانشگاه تهران  </span>
                        <img class="left" src="/static/images/uni-logo.png">
                    </div>
                </div>
            </div>
            <div class="tv-list-item">
                <div class="relative right tv-item">
                    <img src="/static/images/tv-img.jpg" width="100px" height="75px">

                    <div class="absolute item-icon"></div>
                </div>
                <div class="info-title mjtunisia">
                    ی و بهمانی در تهران و حواشی آن

                </div>
                <div class="bbcnassim info-text">
                    کلیپ حواشی برنامه ی مناظره ی فلانی و بهمانیاشی برنامه ی

                </div>
                <div class="absolute list-items">
                    <div class=" box-litem-time left">
                        <span class="left darkblue date-item min-rmargin">02 آبان 1394</span>
                        <img class="left" src="/static/images/calu.png">
                    </div>
                    <div class=" box-ritem-time left">
                        <span class="left darkblue date-item min-rmargin">دانشگاه تهران  </span>
                        <img class="left" src="/static/images/uni-logo.png">
                    </div>
                </div>
            </div>
            <div class="tv-list-item">
                <div class="relative right tv-item">
                    <img src="/static/images/tv-img.jpg" width="100px" height="75px">

                    <div class="absolute item-icon"></div>
                </div>
                <div class="info-title mjtunisia">
                    ی و بهمانی در تهران و حواشی آن

                </div>
                <div class="bbcnassim info-text">
                    کلیپ حواشی برنامه ی مناظره ی فلانی و بهمانیاشی برنامه ی

                </div>
                <div class="absolute list-items">
                    <div class=" box-litem-time left">
                        <span class="left darkblue date-item min-rmargin">02 آبان 1394</span>
                        <img class="left" src="/static/images/calu.png">
                    </div>
                    <div class=" box-ritem-time left">
                        <span class="left darkblue date-item min-rmargin">دانشگاه تهران  </span>
                        <img class="left" src="/static/images/uni-logo.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tv-slider relative">
        {% for i in "123456" %}
            <div class="relative tv-item">
                <img src="/static/images/tv-img.jpg" width="194px" height="107px">

                <div class="absolute item-icon"></div>
            </div>
        {% endfor %}

    </div>
    <div class="tv-left-arrow absolute"></div>
    <div class="tv-right-arrow absolute"></div>
</div>
