{% load account_template_tags date_template_tags thumbnail %}

<div class="mrg-center school relative">

    <div class="right ">
        <a href="{% url "package_list" %}">
            <h2 class="school-green exp-right-header entezar">
                مدرسه کالک
            </h2>
        </a>


    </div>
    <div class="left contact-us">
        تماس با مدرسه
    </div>


    <div class="school-items">
        <div class="school-title right"></div>
        <div class="school-item right relative">
            <div class="school-ritem absolute">
                <div class="ritem-header">
                    کارگاه «صفر تا صد اردو جهادی»
                </div>
                <div class="ritem-cate">
                    <div class="cate-img left"></div>
                    <div class="cate-text left">
                        اقتصاد مقاومتی
                    </div>
                </div>
            </div>
            <div class="school-litem absolute"></div>
            <div class="school-citem absolute">
                <div class="ritem-header">
                    کارگاه «صفر تا صد اردو جهادی»
                </div>
                <div class="ritem-cate">
                    <div class="cate-img left"></div>
                    <div class="cate-text left">
                        اقتصاد مقاومتی
                    </div>
                </div>
            </div>

        </div>
        <div class="school-item right relative">
            <div class="school-ritem absolute">
                <div class="ritem-header">
                    کارگاه «صفر تا صد اردو جهادی»
                </div>
                <div class="ritem-cate">
                    <div class="cate-img left"></div>
                    <div class="cate-text left">
                        اقتصاد مقاومتی
                    </div>
                </div>
            </div>
            <div class="school-litem absolute"></div>
            <div class="school-citem absolute">
                <div class="ritem-header">
                    کارگاه «صفر تا صد اردو جهادی»
                </div>
                <div class="ritem-cate">
                    <div class="cate-img left"></div>
                    <div class="cate-text left">
                        اقتصاد مقاومتی
                    </div>
                </div>
            </div>

        </div>
        <div class="school-item right relative">
            <div class="school-ritem absolute">
                <div class="ritem-header">
                    کارگاه «صفر تا صد اردو جهادی»
                </div>
                <div class="ritem-cate">
                    <div class="cate-img left"></div>
                    <div class="cate-text left">
                        اقتصاد مقاومتی
                    </div>
                </div>
            </div>
            <div class="school-litem absolute"></div>
            <div class="school-citem absolute">
                <div class="ritem-header">
                    کارگاه «صفر تا صد اردو جهادی»
                </div>
                <div class="ritem-cate">
                    <div class="cate-img left"></div>
                    <div class="cate-text left">
                        اقتصاد مقاومتی
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="school-items">
        <div class="school-most-title right"></div>
        <div class="school-item right relative">
            <div class="school-ritem absolute">
                <div class="ritem-header">
                    کارگاه «صفر تا صد اردو جهادی»
                </div>
                <div class="ritem-cate">
                    <div class="cate-img left"></div>
                    <div class="cate-text left">
                        اقتصاد مقاومتی
                    </div>
                </div>
            </div>
            <div class="school-litem absolute"></div>
            <div class="school-citem absolute">
                <div class="ritem-header">
                    کارگاه «صفر تا صد اردو جهادی»
                </div>
                <div class="ritem-cate">
                    <div class="cate-img left"></div>
                    <div class="cate-text left">
                        اقتصاد مقاومتی
                    </div>
                </div>
            </div>

        </div>
        <div class="school-item right relative">
            <div class="school-ritem absolute">
                <div class="ritem-header">
                    کارگاه «صفر تا صد اردو جهادی»
                </div>
                <div class="ritem-cate">
                    <div class="cate-img left"></div>
                    <div class="cate-text left">
                        اقتصاد مقاومتی
                    </div>
                </div>
            </div>
            <div class="school-litem absolute"></div>
            <div class="school-citem absolute">
                <div class="ritem-header">
                    کارگاه «صفر تا صد اردو جهادی»
                </div>
                <div class="ritem-cate">
                    <div class="cate-img left"></div>
                    <div class="cate-text left">
                        اقتصاد مقاومتی
                    </div>
                </div>
            </div>

        </div>
        <div class="school-item right relative">
            <div class="school-ritem absolute">
                <div class="ritem-header">
                    کارگاه «صفر تا صد اردو جهادی»
                </div>
                <div class="ritem-cate">
                    <div class="cate-img left"></div>
                    <div class="cate-text left">
                        اقتصاد مقاومتی
                    </div>
                </div>
            </div>
            <div class="school-litem absolute"></div>
            <div class="school-citem absolute">
                <div class="ritem-header">
                    کارگاه «صفر تا صد اردو جهادی»
                </div>
                <div class="ritem-cate">
                    <div class="cate-img left"></div>
                    <div class="cate-text left">
                        اقتصاد مقاومتی
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="school-footer">
        <div class="footer-item right">
            <div class="right">
                دوره های برگزار شده
            </div>
            <div class="footer-item-img right"></div>
        </div>
        <div class="footer-items right">
            ..خط امام استان فارس- اصول کارتشکیلاتی- شهریور...
        </div>
        <div class="footer-item right">
            <div class="right">
                دوره های برگزار شده
            </div>
            <div class="footer-item-img right"></div>
        </div>
        <div class="footer-items right">
            ..خط امام استان فارس- اصول کارتشکیلاتی- شهریور...
        </div>
    </div>

</div>
